@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap')

$primaryFont: 'Fira Code', monospace
$graphFont: 'Courier New', Courier, monospace

$primaryTextSize: 16px

$primaryTextColor: rgb(253, 248, 203)
$linkTextColor: rgb(255, 246, 162)
$hoverLinkTextColor: rgb(149, 248, 91)

$baseHorizontalSpace: 20px
$baseVerticalSpace: 20px

body
    font-family: $primaryFont
    background: black
    line-height: 22px
    padding: 32px 32px 32px 72px

article
    width: 820px
    display: flex
    flex-direction: column
    font-size: $primaryTextSize
    color: $primaryTextColor

a
    color: $linkTextColor

    &:hover
        color: $hoverLinkTextColor

    &.button
        text-decoration: none

    &.no-underline
        text-decoration: none

h1
    font-weight: normal
    font-size: $primaryTextSize
    line-height: 18.5px
    margin: 64px 0 8px

p
    margin: 0

.hidden
    display: none

.graph
    font-family: $graphFont
    line-height: 18px

    & .line
        display: block
        white-space: pre

    &.lazy
        white-space: pre

.space-left-1
    margin-left: $baseHorizontalSpace

.space-left-2
    margin-left: $baseHorizontalSpace * 2

.space-left-3
    margin-left: $baseHorizontalSpace * 3

.space-top-1
    margin-top: $baseVerticalSpace

.space-top-2
    margin-top: $baseVerticalSpace * 2

.space-top-3
    margin-top: $baseVerticalSpace * 3

.space-bottom-1
    margin-bottom: $baseVerticalSpace

.space-bottom-2
    margin-bottom: $baseVerticalSpace * 2

.space-bottom-3
    margin-bottom: $baseVerticalSpace * 3

.center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.keep-white-space
    white-space: pre

.logo
    line-height: 21px

.side-note
    color: white
    font-weight: 600
    cursor: pointer

.side-note-modal
    color: #aaa
    font-size: 14px
    border: 2px solid #aaa
    position: absolute
    z-index: 10
    padding: 6px 10px
    max-width: 240px
    background: black

    & .close
        position: absolute
        right: 0px
        top: 0px
        font-size: 16px
        line-height: 14px
        padding: 0px 2px 2px 2px
        cursor: pointer

.footnote
    color: #aaa
    margin-top: $baseVerticalSpace * 4

    & a
        color: #ddd

.animation-container
    cursor: pointer

    & > .frame
        display: none

    & > .thumbnail
        display: initial

    &.play
        & > .thumbnail
            display: none

        & > .current
            display: initial

.row
    display: flex
    flex-direction: row

.column
    display: flex
    flex-direction: column